
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Remove</th>
            <th>Update</th>
        </tr>
        </thead>

        <% for (Item items : item) { %>
        <tbody>
        <tr>
            <td><%= items.getItemId()%></td>
            <td><%= items.getName() %></td>
            <td class="text-truncate" style="max-width: 150px"><%= items.getDescription() %></td>
            <td><%= items.getCategory() %></td>
            <td><%= items.getPrice() %></td>
            <td>
                <form action="<%= request.getContextPath() %>/processItem" method="POST">
                    <input type="hidden" name="action" value="remove">
                    <input type="hidden" name="itemId" value="<%= items.getItemId() %>">
                    <input type="submit" class="btn btn-danger" value="Remove">
                </form>
            </td>
            <td>
                <form action="<%= request.getContextPath() %>/admin/UpdateItems.jsp" method="POST">
                    <input type="hidden" name="itemId" value="<%= items.getItemId() %>">
                    <input type="hidden" name="description" value="<%= items.getDescription()%>">
                    <input type="submit" class="btn btn-info" value="Update">
                </form>
            </td>
        </tr>
        </tbody>
        <% } %>
    </table>