html,
body {
  padding: 0;
  margin: 0;
}

.profile-wrap {
  /* background-color: aqua; */
}

.welcome-msg {
  padding: 5px;
  font-size: 20px;
}

.orders-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orders-container {
  border: solid 2px black;
  border-radius: 12px;
}
.orders-container > h1 {
  font-size: 25px;
  padding: 5px;
  border-radius: 10px 10px 0 0;

  background-color: rgb(0, 179, 179);
}

.orders-container {
  max-width: 1000px;
  width: 100%;
}

.reviews-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews-container {
  border: solid 2px black;
  border-radius: 12px;
}
.reviews-container > h1 {
  font-size: 25px;
  padding: 5px;
  border-radius: 10px 10px 0 0;

  background-color: rgb(0, 179, 179);
}

.reviews-container {
  max-width: 1000px;
  width: 100%;
}

.user-details-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailsform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.password-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.passwordform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
